.logo-al{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.address-colector{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.show-address{
    padding: 25px;
    display: flex;
    justify-content: center;
}